
NMI.dat.data-00000-of-00001

NMI.dat.index

NMI.dat.meta

my-model-0.data-00000-of-00001

my-model-0.data-00000-of-00001

my-model-0.index

my-model-0.meta

my-model-1000.data-00000-of-00001

my-model-1000.index

my-model-1000.meta

my-model-2000.data-00000-of-00001

my-model-2000.index

my-model-2000.meta

checkpoint
